body {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.App {
  text-align: center;
  display: flex;
  padding: 10px;
  flex-direction: column;
  box-shadow: 0px 1px 13px;

  width: 50%;
  margin: 0 auto;
}
h1 {
  font-size: larger;
  font-weight: bolder;
  font-size: xx-large;
}
ul {
  list-style: none;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.cards {
  display: flex;
  padding: 10px;
  flex-direction: row;
  background-color: pink;
  min-height: 300px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 10em;
  height: 100px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: aqua;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-close-button {
  color: red;
}
.card-title {
  font-weight: bold;
  display: block;
  text-align: left;
}

.card-likes {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card-likes > span {
  margin-left: 10px;
  vertical-align: baseline;
}

.control {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
}
.category-button {
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: darkcyan;
  margin-left: 3px;
  padding: 5px;
}
.category-selected {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .App {
    width: 100%;
  }
  .control {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
