body {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.cards {
  display: flex;
  flex-direction: row;
  background-color: pink;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 10em;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: aqua;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-close-button {
  color: red;
}
.card-title {
  font-weight: bold;
  display: block;
  text-align: left;
}

.card-likes {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card-likes > span {
  margin-left: 10px;
  vertical-align: baseline;
}

@media screen and (max-width: 800px) {
  .App {
    width: 100%;
  }
}
